.main-content-detailhotels {
  margin-top: 100px;
}
.BookingPanel_hoteldisRight_2RqlxxJzZr-26SMThuRm8h {
  border-radius: 16px;
  min-height: 400px;
  width: 490px;
  padding: 20px;
  position: sticky;
  top: 24px;
  right: 36px;
  box-shadow: 0 4px 10px #0000004d;
  font-family: Roboto-Regular;
  float: right;
  margin-top: 33px;
}
.BookingPanel_hotelBookingDis_2mjzPESfYV5YeRL93OcLdR {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.BookingPanel_hotelPriceDiscount_2vqHTR0vkREfNlXabA1Dvo {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.BookingPanel_hotelPriceStar_2mxu2rMPVlvTO_YONBJi1N {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.BookingPanel_countValue_3gKYSyFeR-o5EPSw1rn5Cm {
  color: #303030;
  font-size: 14px;
  padding-top: 0px;
  margin-top: 1px;
}

.BookingPanel_checkValue_2gd9UFI0uVCeTa5vjdYcPR {
  border: 1px solid #ddd;
  border-radius: 16px;
}

.BookingPanel_checkTime_28BtPjC21uE8LXnReGt0Ef {
  display: flex;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  padding: 16px;
  vertical-align: middle;
  align-items: center;
  font-family: Roboto-Regular;
  position: relative;
}

.BookingPanel_checkValue_2gd9UFI0uVCeTa5vjdYcPR
  .BookingPanel_checkTime_28BtPjC21uE8LXnReGt0Ef
  .BookingPanel_checkIn_b0eTz1YxlugwElrmfrMH- {
  position: relative;
}
.BookingPanel_roomCount_3g0-U0g0qhvqnSsv652FxC {
  padding: 16px;
}

.BookingPanel_checkIn_b0eTz1YxlugwElrmfrMH- {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.BookingPanel_bookNowBtn_3rvmCTVXRi3z9xJNRXrBD- {
  background: #ec2224;
  border: 1px solid #ec2224;
  border-radius: 4px;
  padding: 12px 40px;
  color: #fff;
  font-family: Roboto-Bold;
  font-size: 14px;
  text-decoration: none;
  display: inherit;
  text-align: center;
  margin-top: 36px;
  cursor: pointer;
}

.BookingPanel_checkValue_2gd9UFI0uVCeTa5vjdYcPRBookingPanel_checkValueOverride_3cVc7zvQoJfa8PMWCVlxCG {
  margin-top: 14px !important;
}

.BookingPanel_checkTimeIn_2mLZKKiwxuOPDA38JVf3Om {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  vertical-align: middle;
  align-items: center;
}

.col-md-3 {
  display: inline-block;
  margin-left: -4px;
}
.col-md-3 img {
  width: 100%;
  height: auto;
}
body .carousel-indicators li {
  background-color: red;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon {
  background-color: red;
}
body .no-padding {
  padding-left: 0;
  padding-right: 0;
}
